.App {
  margin: 1rem;
}

.frame {
  border: 2px #000 solid;
  margin: 2rem;
  padding: 2rem;
  font-weight: bold;
}

.box {
  border: 2px #000 solid;
  margin: 2rem;
  height: 30rem;
}

.violet {
  background-color: #7e60bf;
}
.blue {
  background-color: #0487d9;
}
.yellow {
  background-color: #f29f05;
}
.red {
  background-color: #d92b04;
}
