.App {
  margin: 1rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.fruit-counter {
  font-size: 1.2rem;
}

.fruit-counter > button {
  margin-right: 0.5rem;
}

.title {
  flex-basis: 100%;
}

.frame {
  border: 2px #000 solid;
  margin: 4rem;
  padding: 2rem;
  font-weight: bold;
}

.box {
  border: 2px #000 solid;
  margin: 2rem;
  height: 30rem;
}

.violet {
  background-color: #b39ce4;
}
.blue {
  background-color: #0487d9;
}
.yellow {
  background-color: #f29f05;
}
.red {
  background-color: #d92b04;
}
